@use './variables_sass' as v;

:root {
  font: var(--font-family-text);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.title {
  font: var(--font-title);
  font-weight: 700;
  font-style: normal;
}

body {
  /*
  background-color: #5a3d28;
  background-color: #8d6647;
  */
  background-color: v.$color_bk;
  color: v.$color_text;
}