:root {
  /* Colores */
  --color-text: #ffe2bd;
  --color-bk-dark: #5a3d28;

  /* Fuentes */
  --font-text: normal 400 1rem "Roboto", "Arial", sans-serif;
  --font-title: normal 700 1.5rem "Cardo", serif;

  /* Espaciado */
  --spacing-lg: 2rem;
}